@media (max-width: 1870px) {
  .reasons__plan-wrapper {
    width: 1115px;
    height: 813px;
    margin: 0 auto;
    position: relative;
  }

  .reasons__plan {
    top: 50px;
  }

  .reasons__title {
    text-align: center;
    margin: 0 auto 75px auto;
  }

  .reasons__info-wrapper {
    justify-content: center;
  }
}

@media (max-width: 1800px) {
  .about__title {
    font-size: 60px;
    margin-bottom: 30px;
    line-height: 60px;
  }
  .about__subtitle {
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 30px;
  }
  .about__info {
    flex-direction: column;
  }
  .about__info-content + .about__info-content {
    margin-left: 0;
    margin-top: 30px;
  }
  .about__video {
    right: 20px;
    top: 10px;
  }

  .about__location {
    top: 520px;
    left: 60%;
  }
}

@media (max-width: 1750px) {
  .activities__plan {
    position: static;
  }

  .activities__plan-img {
    width: 1072px;
    height: 804px;
    margin: 0 auto;
  }

  .activities__arena-content {
    margin-bottom: 0;
    justify-content: center;
    text-align: center;
    flex-direction: row;
  }

  .activities__arena-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .activities__plan-img {
    width: 1000px;
  }

  .activities__icon-content + .activities__icon-content {
    margin-left: 200px;
  }

  .activities__icon-wrapper {
    margin-bottom: 20px;
  }
}

@media (max-width: 1553px) {
  .about__video-img {
    width: 600px;
    height: 600px;
  }
}

@media (max-width: 1500px) {
  .about__video-play {
    top: 40%;
  }
  .about__location {
    top: 450px;
  }
}

@media (max-width: 1484px) {
  .clubs__info__wrapper {
    flex-direction: column-reverse;
  }

  .clubs__logo {
    margin-bottom: 40px;
  }

  .clubs__text-content {
    text-align: center;
    margin-bottom: 40px;
  }
}

@media (max-width: 1440px) {
  .info1 {
    justify-content: start;
  }

  .game__info-btn {
    margin-top: 280px;
  }

  .game__info-btn button + button {
    margin-top: 20px;
  }
}

@media (max-width: 1350px) {
  .upper__li {
    margin-left: 15px;
  }
  .header__nav-phone {
    margin-left: 0;
  }
}

@media (max-width: 1389px) {
  header {
    padding: 20px 10px;
  }
  .header__wrapper {
    display: none;
  }
  .header__mobile-wrapper {
    display: flex;
  }

  .about {
    /* background-image: url("/images/circle__mobile-bg.png"); */
    background-image: none;
    background-color: #ce2127;
  }

  .about__title {
    margin-top: 0;
  }

  .about__wrapper {
    margin-left: 0;
    padding-bottom: 80px;
  }
  .about__title-wrapper {
    text-align: center;
  }

  .swiper__slider-wrapper {
    margin-bottom: 58px;
  }

  .about__video {
    position: static;
  }
  .about__location {
    display: none;
  }
  .about__background {
    left: 50%;
    max-width: 200vh;
    max-height: 200vh;
    transform: translate(-50%, 0);
  }
  .about__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .swiper {
    margin-top: 0;
  }

  .about__mobile-adress {
    display: flex;
  }
  .about__info-images {
    display: block;
  }
  .about__mobile-btns {
    display: flex;
  }
}

@media (max-width: 1318px) {
  .reasons {
    margin-bottom: -185px;
  }
  .reasons__plan-img {
    width: 700px;
  }

  .reasons__plan-text {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 19px;
  }

  .bottom__angle-left::after {
    bottom: -49px;
    left: 0px;
    background-image: url("/images/mobile_bottom_angle_left.png");
    background-repeat: no-repeat;
  }

  .bottom__angle-right::after {
    bottom: -50px;
    right: -54px;
    background-image: url("/images/mobile_botom_angle_right.png");
    background-repeat: no-repeat;
  }

  .top__angle-left::after {
    top: -9px;
    left: 0px;
    background-image: url("/images/mobile_top_angle_left.png");
    background-repeat: no-repeat;
  }

  .top__angle-right::after {
    background-image: url("/images/mobile_top_angle_right.png");
    top: -9px;
    right: -53px;
    background-repeat: no-repeat;
  }

  .reasons__plan-wrapper {
    width: 700px;
  }

  .tables__zone1 {
    bottom: 37px;
    left: 271px;
  }

  .cube1 {
    bottom: 169px;
    left: 349px;
  }

  .arena1 {
    top: 206px;
    right: 141px;
  }
  .arena2 {
    top: 127px;
    right: 5px;
  }

  .cube2 {
    top: 47px;
    right: 115px;
  }

  .moto {
    top: -14px;
    right: 200px;
  }

  .auto1 {
    top: 122px;
    right: 264px;
  }

  .auto2 {
    top: 201px;
    left: 211px;
  }

  .wending {
    top: 216px;
    left: -73px;
  }

  .tables__zone2 {
    bottom: 160px;
    left: -33px;
  }

  .wardrobe {
    bottom: 77px;
    left: 14px;
  }

  .soft__zone {
    bottom: 17px;
    left: 80px;
  }
}

@media (max-width: 1270px) {
  .arena__plan {
    width: 700px;
  }

  .activities__plan-img {
    width: 700px;
    margin: 0 auto;
  }

  .activities__bubbles {
    padding: 17px;
    border-radius: 20px;
  }

  .people {
    top: -12px;
    right: 400px;
  }

  .square {
    top: 59px;
    right: 216px;
  }

  .freedom {
    bottom: 415px;
    left: 160px;
  }

  .games {
    top: 290px;
    right: 109px;
    width: 102px;
  }

  .activities__games {
    margin-top: -260px;
  }

  .activities__arena-content {
    margin-bottom: 60px;
  }
}

@media (max-width: 1200px) {
  .activities__icon-content + .activities__icon-content {
    margin-left: 30px;
  }

  .game4__info {
    padding-top: 400px;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 861px) {
  .reasons {
    margin-bottom: 45px;
  }
  .reasons__info-wrapper {
    margin-bottom: 40px;
  }

  .bottom__angle-right::after {
    right: -53px;
  }

  .reasons__plan-wrapper {
    display: none;
  }

  .reasons__plan-mobile {
    display: block;
  }

  .reasons__info {
    margin-bottom: 16px;
  }

  .reasons__plan-text {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
    line-height: 12px;
  }

  .tables__zone1 {
    bottom: 14px;
    left: 139px;
  }

  .cube1 {
    bottom: 46px;
    left: 182px;
  }

  .arena1 {
    top: 125px;
    right: 38px;
  }

  .arena2 {
    top: 42px;
    right: 11px;
    max-width: 59px;
  }

  .cube2 {
    top: 15px;
    right: 31px;
  }

  .moto {
    top: -13px;
    right: 68px;
  }

  .auto1 {
    top: 47px;
    right: 102px;
  }

  .auto2 {
    top: 85px;
    left: 115px;
  }

  .tables__zone2 {
    bottom: 77px;
    left: 0px;
    max-width: 86px;
    text-align: end;
  }

  .wending {
    top: 83px;
    left: 2px;
    max-width: 100px;
    text-align: end;
  }

  .wardrobe {
    bottom: 47px;
    left: 14px;
  }

  .soft__zone {
    bottom: 4px;
    left: 22px;
  }
}

@media (max-width: 663px) {
  .about__video-img {
    width: 320px;
    height: 320px;
  }
  .about__video-play {
    width: 50px;
    height: 50px;
  }

  .clubs__text-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    max-width: 320px;
    margin: 0 auto 10px auto;
  }

  .clubs__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }

  .numbers__digit {
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
  }

  .number__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (max-width: 570px) {
  .swiper__slide-content {
    text-align: center;
    width: auto;
    padding: 30px 0;
  }

  .activities__header {
    font-size: 40px;
  }
}

@media (max-width: 450px) {
  .about__info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 376px) {
  .container {
    padding: 0 10px;
  }
  header {
    padding: 20px 0;
  }
  .header__mobile-btn + .header__mobile-btn {
    margin-left: 15px;
  }

  /* .mobile__burger-wrapper {
    height: 580px;
  } */
}

@media (max-width: 320px) {
  .mobile__burger-wrapper {
    height: 550px;
    margin-left: 5px;
  }
  .about__video-img {
    width: 300px;
    height: 300px;
  }
}
