@media (max-width: 1800px) {
  .about__title {
    font-size: 60px;
    margin-bottom: 30px;
    line-height: 60px;
  }
  .about__subtitle {
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 30px;
  }
  .about__info {
    flex-direction: column;
  }
  .about__info-content + .about__info-content {
    margin-left: 0;
    margin-top: 30px;
  }
  .about__video {
    right: 20px;
    top: 10px;
  }

  .about__location {
    top: 520px;
    left: 60%;
  }
}

@media (max-width: 1553px) {
  .about__video-img {
    width: 600px;
    height: 600px;
  }
}

@media (max-width: 1500px) {
  .about__location {
    top: 450px;
  }
}

@media (max-width: 1350px) {
  .upper__li {
    margin-left: 15px;
  }
  .header__nav-phone {
    margin-left: 0;
  }
}

@media (max-width: 1389px) {
  header {
    padding: 20px 10px;
  }
  .header__wrapper {
    display: none;
  }
  .header__mobile-wrapper {
    display: flex;
  }

  .about {
    /* background-image: url("/images/circle__mobile-bg.png"); */
    background-image: none;
    background-color: #ce2127;
  }

  .about__title {
    margin-top: 0;
  }

  .about__wrapper {
    margin-left: 0;
    padding-bottom: 80px;
  }
  .about__title-wrapper {
    text-align: center;
  }

  .swiper__slider-wrapper {
    margin-bottom: 58px;
  }

  .about__video {
    position: static;
  }
  .about__location {
    display: none;
  }
  .about__background {
    left: 50%;
    max-width: 200vh;
    max-height: 200vh;
    transform: translate(-50%, 0);
  }
  .about__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .swiper {
    margin-top: 0;
  }

  .about__mobile-adress {
    display: flex;
  }
  .about__info-images {
    display: block;
  }
  .about__mobile-btns {
    display: flex;
  }
}

@media (max-width: 663px) {
  .about__video-img {
    width: 320px;
    height: 320px;
  }
  .about__video-play {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 570px) {
  .swiper__slide-content {
    text-align: center;
    width: auto;
    padding: 30px 0;
  }
}

@media (max-width: 450px) {
  .about__info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 376px) {
  .container {
    padding: 0 10px;
  }
  header {
    padding: 20px 0;
  }
  .header__mobile-btn + .header__mobile-btn {
    margin-left: 15px;
  }

  /* .mobile__burger-wrapper {
    height: 580px;
  } */
}

@media (max-width: 320px) {
  .mobile__burger-wrapper {
    height: 550px;
    margin-left: 5px;
  }
  .about__video-img {
    width: 300px;
    height: 300px;
  }
}
