@import url("./normalize.css");
@import url("./global.css");

/* Header */

header {
  padding: 25px 0;
  background: rgba(255, 255, 255, 0.9);
  position: relative;
  z-index: 200;
}

.header__logo {
  line-height: 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.mobile__svg svg {
  stroke: #000;
}

.header__nav-list {
  display: flex;
}

.nested__ul {
  display: flex;
  align-items: center;
}

.header__arrow {
  line-height: 0;
  margin-left: 10px;
  stroke: #000;
}

.upper__li {
  margin-left: 26px;
}

.header__nav-phone {
  margin-left: 0;
}

.header__button {
  background-color: #ce2127;
  border-radius: 30px;
  padding: 10px 30px;
  color: #fff;
  text-transform: uppercase;
}

.li__relative {
  position: relative;
}

/* Header mobile  */
.header__mobile-wrapper {
  display: flex;
  justify-content: space-between;
  display: none;
}

.header__mobile-logo {
  margin-right: 10px;
  line-height: 0;
}

.header__mobile-btn + .header__mobile-btn {
  margin-left: 30px;
}
/* Header entertainments */
.header__entertainments {
  background-color: #fff;
  border-radius: 0 30px 30px 30px;
  top: 45px;
  left: 0;
  justify-content: center;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 736px;
  height: 0;
  transition: padding 0.4s, height 0.3s;
  overflow: hidden;
}

.header__entertainments-bg-show {
  height: 280px;
  padding: 30px 0;
}

.header__entertainments-img {
  line-height: 0;
}

.header__entertainments-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  white-space: nowrap;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.header__entertainments-content {
  position: relative;
  margin-left: 5px;
  margin-bottom: 5px;
  transform: translateY(-250px);
  transition: all 0.3s;
}

.header__entertainments-content-show {
  transform: translateY(0);
}

/* Burger menu btn */
.burger__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
}
.burger__menu-line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.mobile__subtract,
.mobile__phone {
  font-size: 22px;
}

.burger__button {
  font-size: 30px;
}

/* mobile menu */
.mobile__burger-overlay {
  position: fixed;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.3;
  width: 100%;
  height: 100vh;
}

.no__scroll {
  overflow: hidden;
}
.no__scroll2 {
  overflow: hidden;
}

.mobile__burger-menu {
  transform: translateX(270px);
  position: absolute;
  background-color: #fff;
  border-radius: 30px;
  top: 80px;
  right: 10px;
  transition: height 0.3s, transform 0.3s;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.mobile__svg-login {
  font-size: 24px;
}

.mobile__burger-wrapper {
  text-transform: uppercase;
  height: 680px;
  overflow-y: scroll;
  padding: 30px;
}

.mobile__burger-menu-show {
  transform: translateX(0);

  height: auto;
}

.mobile__dimmed-screen {
  left: 0;
  z-index: -100;
}

.mobile__region {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.region__countries-content {
  text-align: center;
}

.mobile__region-nav {
  cursor: pointer;
}
.mobile__region-countries {
  margin-top: 25px;
}

.mobile__location-header {
  margin-bottom: 10px;
  display: inline-block;
  text-transform: capitalize;
  font-weight: 700;
}

.mobile__region-content {
  display: flex;
  justify-content: space-between;
}
.mobile__region-nav {
  display: flex;
  align-items: center;
}
.mobile__region-nav div + div {
  margin-left: 10px;
}

.mobile__svg {
  line-height: 0;
}

.mobile__region-location {
  overflow: hidden;
  height: 0;
  transition: height 1s;
}

.mobile__region-location-show {
  overflow: visible;
  height: auto;
}

.mobile__language {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 0;
  margin-bottom: 0;
  overflow: hidden;
}

.mobile__language-items {
  cursor: pointer;
}

.mobile__language-show {
  margin-bottom: 20px;
  height: auto;
  overflow: visible;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.mobile__button-wrapper {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}
.mobile__button {
  border-radius: 30px;
  padding: 10px 30px;
  text-transform: uppercase;
}

.mobile__button-wrapper button + button {
  margin-top: 10px;
}
.button__buy {
  background: #ce2127;
  color: #fff;
}
.button__order {
  border: 2px solid #ce2127;
  background-color: transparent;
}

.horizontal__line {
  border-bottom: 2px solid #eeeeee;
  margin: 20px 0;
}

.mobile__menu-arrow {
  line-height: 0;
}

.mobile__menu-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.mobile__menu-entertainments {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  height: 0;
  overflow: hidden;
}

.mobile__menu-entertainments-show {
  height: auto;
  overflow: visible;
  margin-top: 20px;
}

.mobile__menu-entertainments div + div {
  margin-top: 10px;
}

.mobile__menu-list-content {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mobile__manu-text {
  margin-right: 10px;
}
.mobile__menu-info {
  font-weight: 400;
  font-size: 20px;
  text-transform: lowercase;
  line-height: 28px;
  color: #ce2127;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.mobile__menu-info div + div {
  margin-top: 20px;
}

.mobile__menu-social {
  display: flex;
  justify-content: center;
}
.mobile__menu-social a + a {
  margin-left: 10px;
}

.mobile__social-item {
  line-height: 0;
  font-size: 33px;
}

.mobile__menu-login {
  display: flex;
  justify-content: center;
}

.mobile__menu-login div {
  margin-right: 10px;
}

.mobile__events {
  height: 0;
  overflow: hidden;
  margin-top: 0;
}

.mobile__events-show {
  margin-top: 15px;
  height: auto;
  overflow: visible;
}

.mobile__events-wrapper {
  display: flex;
}

.mobile__events-wrapper + .mobile__events-wrapper {
  margin-top: 15px;
}
.mobile__events-svg {
  line-height: 0;
  font-size: 40px;
  margin-right: 15px;
}

.mobile__events-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  max-width: 157px;
}

.mobile__burger-adress {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  padding: 15px 30px;
  text-align: center;
  width: 300px;
  text-transform: capitalize;
}

.mobile__burger-metro {
  display: flex;
  justify-content: center;
  margin-bottom: 21px;
}

.mobile__burger-metro img {
  margin-right: 10px;
}

.mobile__burger-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.mobile__burger-map {
  max-width: 100%;
  max-height: 300px;
  margin-bottom: 20px;
  border-radius: 30px;
}

.burger__time-header {
  font-weight: 400;
  font-size: 14px;
  opacity: 0.5;
}

.mobile__burger-route {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.mobile__burger-route button + button {
  margin-top: 10px;
}

.burger__route-header {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.5;
}
.burger__route-btn {
  border: 2px solid #ce2127;
  border-radius: 50px;
  padding: 10px 20px;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  width: 222px;
}

.mobile__location-wrapper {
  text-transform: uppercase;
  height: 803px;
  overflow-y: scroll;
}

.mobile__burger-overlay2 {
  position: fixed;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.3;
  width: 100%;
  height: 100vh;
}

/* active li color */

.active__li {
  color: #ce2127;
}

/* header events */

.header__events {
  background-color: #fff;
  border-radius: 0 30px 30px 30px;
  top: 45px;
  left: 0;
  justify-content: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: height 0.3s;
  height: 0;
  padding: 0 30px;
  overflow: hidden;
  text-transform: uppercase;
  transition: height 0.4s, padding 0.5s;
}

.header__events-content {
  display: flex;
  align-items: center;
}

.header__events-content img {
  margin-right: 15px;
}

.header__events-content + .header__events-content {
  margin-top: 30px;
}

.header__events-content svg {
  font-size: 50px;
}

.header__events-content svg {
  margin-right: 20px;
}

.header__events-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.header__events-bg-show {
  height: 350px;
  padding: 30px;
}

/* header location */
.header__location {
  background-color: #fff;
  border-radius: 30px 0 30px 30px;
  top: 75px;
  right: 190px;
  justify-content: center;
  position: absolute;
  display: flex;
  transition: height 0.4s, padding 0.5s;
  height: 0;
  padding: 0 30px;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.header__location-country {
  text-transform: uppercase;
}

.header__location-country li + li {
  margin-top: 30px;
}

.location__header {
  display: inline-block;
  text-transform: capitalize;
  font-weight: 700;
}

.header__location-town {
  text-transform: uppercase;
}

.header__location-town li + li {
  margin-top: 30px;
}

.header__location-line {
  border-left: 2px solid #eeeeee;
  margin: 0 40px;
}

.header__location-show {
  height: 490px;
  padding: 30px;
}

.header__language {
  background-color: #fff;
  border-radius: 30px 0 30px 30px;
  top: 75px;
  right: 30px;
  justify-content: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: height 0.4s, padding 0.5s;
  height: 0;
  padding: 0 30px;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.header__language-selection + .header__language-selection {
  margin-top: 30px;
}

.header__language-show {
  padding: 30px;
  height: 130px;
}

.header__mobile-btn {
  stroke: #000;
}

/* if mobile menu open */

.menu__open {
  overflow: hidden;
}

/* About */
.about {
  position: relative;
  background-image: url("/images/circle__bg.png");
  background-repeat: no-repeat;
}

.about__wrapper {
  color: #fff;
  margin-left: 40px;
  padding-bottom: 480px;
}
.about__background-wrapper {
  line-height: 0;
  overflow: hidden;
}
.about__background {
  border-radius: 50%;
  z-index: -1000;
  background-color: #ce2127;
  position: absolute;
  width: 300vh;
  height: 300vh;
  right: 15%;
  bottom: -50%;
  overflow: hidden;
}

.about__svg-v {
  position: absolute;
  width: 1675px;
  height: 100em;
  z-index: -900;
  top: 0;
  left: 0;
}

.about__svg-a {
  position: absolute;
  width: 1675px;
  height: 100em;
  z-index: -900;
  top: -250px;
  right: 250px;
}

.about__info-img {
  margin-right: 15px;
}

.about__title-wrapper {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.about__title {
  max-width: 884px;
  font-weight: 600;
  font-size: 96px;
  line-height: 96px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 160px;
}

.about__subtitle {
  max-width: 683px;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 70px;
}

.about__info {
  display: flex;
  justify-content: start;
}

.about__info-content {
  display: flex;
}

.about__info-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  max-width: 156px;
}

.about__info-content + .about__info-content {
  margin-left: 40px;
}

/* About slider */

.swiper,
.swiper-container {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: 500px;
}

.swiper__slide-bg {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
}

.swiper__slide-content {
  padding: 30px 50px;
  width: 100%;
  max-width: 400px;
  height: 140px;
  position: relative;
  z-index: 100;
}

.swiper {
  margin-top: 80px;
}

.swiper__slider-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.swiper__arrow {
  background-color: #fff;
  color: #000;
  position: absolute;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  top: 50%;
}

.swiper__arrow-prev {
  left: -15px;
}
.swiper__arrow-next {
  right: -15px;
}

.swiper-pagination {
  position: absolute;
  bottom: -20% !important;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper__slide-text {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;
}

.slide__text-bold {
  font-weight: bold;
}

.slide__img-cogwheel {
  position: absolute;
  top: 0;
  right: 0px;
}
.slide__img-glass {
  position: absolute;
  bottom: 0;
  right: 0px;
}
.slide__img-group {
  position: absolute;
  bottom: 0;
  right: 0px;
}

.swiper__slide-btn {
  border: 2px solid #ffffff;
  border-radius: 50px;
  padding: 10px 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: transparent;
}

.about__video {
  position: absolute;
  top: 70px;
  right: 80px;
}

.about__video-wrapper {
  position: relative;
}

.about__video-play {
  display: inline-block;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 150px;
  height: 150px;
}

.about__video-img {
  border-radius: 50%;
  width: 858px;
  height: 858px;
}

.about__location {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  height: 452px;
  width: 452px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 622px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}

.about__location-img {
  width: 201px;
  height: 201px;
  margin-top: 32px;
  margin-bottom: 20px;
}

.about__location-text {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 20px;
}

.about__location-adress {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.about__location-adress img {
  margin-right: 10px;
}

.adress__subtract {
  fill: #ce2127;
  font-size: 64px;
}

.about__mobile-adress {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-bottom: 57px;
  margin-top: 17px;
}

.about__adress-info {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

.about__info-wrapper {
  display: flex;
  margin-bottom: 30px;
}

.about__info-images {
  display: none;
  position: relative;
  width: 200px;
  height: 200px;
}

.about__images-child {
  position: absolute;
  top: 0;
  right: 20px;
}

.about__images-dino {
  position: absolute;
  top: 50px;
  left: -50px;
}

.about__adress-metro {
  display: flex;
}

.about__metro-logo {
  margin-right: 7px;
  background-color: #fff;
  border-radius: 50%;
}

.about__mobile-btns {
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  display: none;
}

.about__mobile-button {
  padding: 10px 20px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  color: #fff;
  background-color: transparent;
}

.about__mobile-button + .about__mobile-button {
  margin-top: 10px;
}

.about__mobile-button:hover {
  background-color: #fff;
  color: #000;
  transition: all 0.3s;
}

.reasons {
  margin-bottom: 215px;
  position: relative;
}

.reasons__info-img {
  line-height: 0;
  font-size: 80px;
  margin-right: 30px;
}

.reasons__info-wrapper {
  display: flex;
}

.reasons__info-wrapper + .reasons__info-wrapper {
  margin-top: 50px;
}

.reasons__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  max-width: 1061px;
  margin-bottom: 75px;
}

.reasons__info-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  max-width: 558px;
  margin-bottom: 20px;
}

.reasons__info-subtitle {
  font-weight: 400;
  font-size: 16px;
  width: 588px;
  line-height: 24px;
}

.reasons__plan {
  position: absolute;
  top: -190px;
  right: 0;
}

.reasons__plan-wrapper {
  width: 0;
  height: 0;
}

.reasons__plan-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  position: absolute;
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;
  z-index: 2;
}

.reasons__plan-text::after {
  content: "";
  position: absolute;
  width: 84px;
  height: 64px;
  z-index: -1;
}

.bottom__angle-left::after {
  background-image: url("/images/bottom_left_angle.png");
  top: 30px;
  left: 0;
}

.bottom__angle-right::after {
  background-image: url("/images/bottom_right_angle.png");
  top: 29px;
  right: 0;
}

.tables__zone1 {
  bottom: 65px;
  left: 430px;
}

.tables__zone1::after {
  top: -20px;
  left: 0px;
  background-image: url("/images/top_angle.png");
}

.cube1 {
  bottom: 289px;
  left: 573px;
}

.arena1 {
  top: 320px;
  right: 270px;
}

.arena2 {
  top: 196px;
  right: 46px;
}

.cube2 {
  top: 64px;
  right: 215px;
}

.moto {
  top: -40px;
  right: 330px;
}

.auto1 {
  top: 190px;
  right: 460px;
}

.auto2 {
  top: 313px;
  left: 342px;
}

.wending {
  top: 344px;
  left: -50px;
}

.tables__zone2 {
  bottom: 270px;
  left: -3px;
}

.wardrobe {
  bottom: 136px;
  left: 42px;
}

.soft__zone {
  bottom: 17px;
  left: 150px;
}

.soft__zone::after {
  background-image: url("/images/top_angle_left.png");
  top: -24px;
  right: 0;
}

.reasons__plan-mobile {
  display: none;
}
